@media(max-width:1251px){
    html{
        font-size: 2.7rem;
    }
   
.logo img{
    justify-content: center;
    align-items: center;
    width: 8.6%;
    left: 2%;
    top: 22%;
}

/* Navbar section */
#navbar{
    width: 401vw;
    padding: 121px 27px;


}
#navbar ul li{
    padding: 0px 55px;
}
#navbar ul {
    padding: 0 87px;
}



/* Profile section */

.myProfile{
    width: 401vw;
}
.shortintro{
    padding: 40px 58px; 
    
}
/* .shortintro p{
    padding: 23px 0px;
} */
/* .shortintro h1{
   font-size: 6rem;
} */

.myProfile img{
    margin: 87px 21px;
    width: 144vw;
}
   

/* About section */

.about{
    width: 401vw;
    
}

.achievement{
    width: 401vw;
}
.software:hover,.skills:hover,.hobby:hover{
    padding-bottom: 30px;
    background-color: rgb(117, 109, 109);
     color:white;
}

div>h4,p{
    font-size: 2rem;
}
/* Mywork section */

.h-primary {
width: 401vw;
}
.mywork {
    width: 441vw;
    display: grid;
    grid-template-columns: auto auto;

}
.mywork .my-work{
    border: 2px solid green;
    width: 500px;
   
}

.behance{
    width: 401vw;

    
}


/* Clients Section */

.clients{
    width: 401vw;

}


/* Contact Section */

.contact-form{
   width: 401vw;
    
}
.contact-form input{
   width: 100vw;
   padding: 20px;
    
}
.contact-form textarea{
   width: 100vw;
   padding: 20px;
    
}
.form [type='submit']{
    
}

.footer{
    width: 401vw;
}


}

  