*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}



.logo img{

    width: 5.6%;
    position: absolute;
    left: 6%;
    top: 0%;
}

/* Navbar section */
#navbar{
    position: sticky;
    left: 0%;
    top: 0;
    background-color:  #30394D;
    padding: 37px 0px;
  
   
   

}
#navbar ul{
    display:flex;
    padding: 0 300px;
}

#navbar ul li{

    width: fit-content;
    margin: 0px auto;
    list-style: none;
    font-size: 1.3rem;
    
  
}
#navbar ul li a{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
#navbar li a:hover{
    background-color: crimson;
    font-size: 2rem;
    border-radius: 5px;
    padding: 15px;
}

/* Profile section */

.myProfile{

    display: flex;
    /* position: absolute; */    /*if position absolute then navbar will not be sticky*/
    background-color:  #30394D;
    padding: 100px 0px;
    /* width: 100vw; */
}
.shortintro{
    font-size: 2rem;
    /* border: 2px solid green; */
    padding: 40px 144px;
    color: white;
}
.shortintro p{
    padding: 23px 0px;
}
.shortintro h1{
   font-size: 6rem;
}
.myProfile img{
    width: 19vw;
    margin: 52px 188px;
    /* padding: 55px 200px; */
    
}
   

/* About section */

.about{
    padding: 50px 0;
    font-size: 2rem;
    text-align: center;
    
    
}

.software{
    /* font-size: 2rem; */
    text-align: center;
    background: rgb(113, 113, 219);
    
}.skills{
    /* font-size: 2rem; */
    background: rgb(123, 243, 123);
    text-align: center;
    
    
}.hobby{
    /* font-size: 2rem; */
    background: rgb(250, 250, 102);
    text-align: center;
    
    
}
.software:hover,.skills:hover,.hobby:hover{
    padding-bottom: 30px;
    background-color: rgb(117, 109, 109);
     color:white;
}

div>h4,p{
    font-size: 2rem;
}
/* Mywork section */

.h-primary {
    padding: 50px 0;
    font-size: 3rem;
    text-align: center;
}
.mywork {
    display: grid;
    grid-gap: 2rem;
    padding: 50px 280px;
    grid-template-columns: auto auto auto;
}
.mywork .my-work{
    /* border: 2px solid green; */
    width: 300px;
    height: 150px;
    padding: 35px 30px;
}
.mywork #my-work1{background: tomato;}

.mywork #my-work2{background: skyblue;}

.mywork #my-work3{background: greenyellow;}

.mywork #my-work4{background: goldenrod;}

.mywork #my-work5{background: yellow;}

.mywork #my-work6{background: green;}

.mywork #my-work7{background: blue;}

.mywork #my-work8{background: orange;}

.mywork #my-work9{background: red;}

.mywork .my-work:hover{
    width: 400px;
    height: 200px;
}

.behance{
    padding: 40px 280px;
    text-align: center;
    font-size: 2rem;
    
}
.behance span{
    color: rgb(113, 113, 219);
    font-weight: 500;
}

/* Clients Section */

.clients{
    background:rgb(241, 80, 80);
    display: grid;
    grid-gap: 2rem;
    padding: 50px 280px;
    grid-template-columns: auto auto auto;

}
.clients .client-logo{
    border: 2px solid black;
    width: 300px;
    height: 150px;
    padding: 35px 30px;
}

/* Contact Section */

.contact-form{
    /* text-align: center; */
    background: rgb(86, 86, 226);
    
}
.contact-form h2{
    padding: 50px 0;
    text-align: center;
    font-size: 2rem;
    color: white;

}
.contact-form .form{
    text-align: center;
    padding: 20px;

}
.form label{
    color: white;
}
.form textarea{

    height: 100px;
    width: 500px;

}
.form [type='submit']{
    color: white;
  font-size: 2rem;
  background: rgb(86, 86, 226);
  /* border-radius: 8px; */
  font-weight: 650;
}


.form [type='submit']:active{

    background: black;
}
.form [type='submit']:hover{
    background: rgb(112, 111, 111);
   
}
.contact-form .btn{
    color: rgb(221, 128, 128);
    background: crimson;
    width: 200px;
    margin: 0 auto;
    font-size: 2rem;
    /* border-radius: 8px; */
    
}

.footer{
    background: #30394D;
    text-align: center;
    padding: 40px;
    font-size: 1.3rem;
    color: white;
}
.footer span{
    color: red;
}